<a href="https://colab.research.google.com/github/NSprogram3/Engitrum-club/blob/main/python_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week1, PYTHON .. PROJECT "Binary search"
The goal of binary search is to search whether a given number is present in the string or not.

Data Type

In [41]:
x = 5
print(type(x))

<class 'int'>

In [5]:
y= 6.8
print(type(y))

<class 'float'>

In [6]:
z = b"Hello"
print(type(z))

<class 'bytes'>

In [7]:
c = ["apple", 'banana',"cherry"]
print(type(c))

<class 'list'>

In [8]:
c = ("apple", 'banana',"cherry")
print(type(c))

<class 'tuple'>

In [9]:
c = {"apple", 'banana',"cherry"}
print(type(c))

<class 'set'>

In [10]:
c = {"apple":'banana',"cherry":38}  
print(type(c))

<class 'dict'>

In [11]:
c =set(("apple", 'banana',"cherry"))
print(type(c))

<class 'set'>

Variables

In [12]:
x = 8
y = "Noura"
print (x)
print(y)

8
Noura

In [13]:
x= 4
x="Sally"
print(x)

Sally

In [14]:

x="Sally"
x=5
print(x)

5

In [15]:
#casting
x=str(4)
y=int(5)
z= float(7)
print(z)

7.0

In [16]:
#single or double quotes
x="Noura"
# is the same
x='Noura'

In [17]:
A= 5
a =8
print(A)

5

Expressions

In [18]:
x = 14+ 1.6
print(x)

15.6

In [19]:
x= 10
y=50
add = x+y
sub= x-y
pro = x*y
div = x/y

print(add)
print(sub)
print(pro)
print(div)

60
-40
500
0.2

In [20]:
#integral expressions
a = 12
b=13.4
c =a+int(b)
print(c)

25

In [21]:
a =29
b=30
c=7
d=18
p = (a+b) >= (c-d)
print(p)

True

In [22]:
p=(10==9)
w=(7>5)
R= p and w # It returns true if both p and w are true  otherwise return false
s= p or w # it returns true if at least one of p and w is true
t= not p # It returns true if condition p is false
print(R)
print(s)
print(p)

False
True
False

Operator

In [23]:
print((7+4) - (2-2))

11

In [24]:
print((100+6*6))

136

List in python

In [25]:
ThisList= ["Apple","banana","orange",78] #list useing square brackets
ThisList

['Apple', 'banana', 'orange', 78]

In [26]:
#List Items are ordered , changeble, and allow duplicate values
ThisList= ["Apple","banana","orange",78,"Apple"]
ThisList

['Apple', 'banana', 'orange', 78, 'Apple']

In [27]:
print(len(ThisList)) # List length

5

In [28]:
print(type(ThisList))

<class 'list'>

In [29]:
ThisList=list((['Apple', 'banana', 'orange', 78, 'Apple'])) #double round brackets
print(ThisList)

['Apple', 'banana', 'orange', 78, 'Apple']

Tuples

In [30]:
#A tuple is collection which is orderd and UNCHANGEABLE, Allow Duplicates
# Written with round brackets
ThisTuple= ('Apple', 'banana', 'orange', 78, 'Apple')
ThisTuple

('Apple', 'banana', 'orange', 78, 'Apple')

In [31]:
#creat one item
thistuple= ("orange",) # comma
print(type(thistuple))

thistuple2= ("orange") # not a tuple 
print(type(thistuple2))

<class 'tuple'>
<class 'str'>

Dictionary

In [32]:
#used to store data value in key:value pairs
# dic is collection which ordered , changeable , not allow duplicates
Thisdic = {
    "Name" : "Nura",
    "Age" : 23,
    "year": 2023,
    "specialization": "DS"
}
print(Thisdic)

{'Name': 'Nura', 'Age': 23, 'year': 2023, 'specialization': 'DS'}

In [33]:
print(Thisdic["Name"])

Nura

In [34]:
print(Thisdic["Age"])

23

In [35]:
print(len(Thisdic))

4

In [36]:
print(type(Thisdic))

<class 'dict'>

project:

In [49]:
lst = [10,20,30,40,60,50,70]
lst.sort()
first=0
last=len(lst)-1 #index =0
mid = (first+last)//2
item = int(input("enter the number to be search")) #user
found = False
while( first<=last and not found):
    mid = (first + last)//2
    if lst[mid] == item :
         print(f"found at location {mid}")
         found= True
    else:
        if item < lst[mid]:
            last = mid - 1
        else:
            first = mid + 1 
   
if found == False:
    print("Number not found")

enter the number to be search80
Number not found