<a href="https://colab.research.google.com/github/NSprogram3/Engitrum-club/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

set
---

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"} #not allow duplicate values.

print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
set3

{False, True}

In [ ]:
#Check if "banana" is present in the set:


thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
#Once a set is created, you cannot change its items, but you can add new items.

#To add one item to a set use the add() method.
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [ ]:
#To add items from another set into the current set, use the update() method.

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'banana', 'cherry', 'pineapple', 'mango', 'papaya'}

In [ ]:
#Add elements of a list to at set:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'apple', 'cherry', 'kiwi', 'orange'}

In [ ]:
#To remove an item in a set, use the remove(), or the discard() method.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [ ]:
#You can also use the pop() method to remove an item, but this method will remove a random item,
# so you cannot be sure what item that gets removed.The return value of the pop() method is the removed item.

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

{'banana', 'cherry'}

In [ ]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

### **Conditions and If statements**

---

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
#The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
#The else keyword catches anything which isn't caught by the preceding conditions.

a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 80
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
a = 2
b = 330
print("Yes") if a > b else print("No")

No

In [ ]:
#AND
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
#OR
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
#NOT
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [ ]:
#Nested if
y = 41

if y > 10:
  print("Above ten,")
  if y > 20:
    print("and also above 41!")
  else:
    print("but not above 41.")

Above ten,
and also above 41!

In [ ]:
#pass
#if statements cannot be empty, but if you for some reason have an if statement
#with no content, put in the pass statement to avoid getting an error.

a = 33
b = 200

if b > a:
  pass

## **LOOP**

In [ ]:
#loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#break statment
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
#continue Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
#range() index begin 0

for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
#Nested Loops

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#while loop

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## **Function**

In [ ]:
def my_function():
  print("Hello from a function")
#calling function
my_function()

Hello from a function

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Nura", "Mohammad")

Nura Mohammad

In [ ]:
# *
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
# return values

def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## Python Exception **Handling**

Syntax Error: As the name suggests this error is caused by the wrong syntax in the code. It leads to the termination of the program.

In [ ]:
# initialize the amount variable
amount = 10000
 
# check that You are eligible to
#  purchase Dsa Self Paced or not
if(amount > 2999)
print("You are eligible to purchase Dsa Self Paced")

SyntaxError: ignored

In [ ]:

# initialize the amount variable
marks = 10000
 
# perform division with 0
a = marks / 0
print(a)

ZeroDivisionError: ignored

In [ ]:
x = 5
y = "hello"
z = x + y # Raises a TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: ignored

In [ ]:
x = 5
y = "hello"
try:
    z = x + y
except TypeError:
    print("Error: cannot add an int and a str")

Error: cannot add an int and a str

## **Class/object**

In [ ]:
# create class
class MyClass:
  x = 5

In [ ]:
# create object 
o1 = MyClass()
print(o1.x)

5

In [ ]:
#The __init__() Function
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
#Note: The __init__() function is called automatically every time the class is being used to create a new object.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)
print(p1)

John(36)

You can give .__init__() any number of parameters, but the first parameter will always be a variable called self. When a new class instance is created, the instance is automatically passed to the self parameter in .__init__() so that new attributes can be defined on the object.

Notice that the .__init__() methodâ€™s signature is indented four spaces. The body of the method is indented by eight spaces. This indentation is vitally important. It tells Python that the .__init__() method belongs to the person class.

In the body of .__init__(), there are two statements using the self variable:

self.name = name creates an attribute called name and assigns to it the value of the name parameter.
self.age = age creates an attribute called age and assigns to it the value of the age parameter.