<a href="https://colab.research.google.com/github/NSprogram3/Engitrum-club/blob/main/week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

week 3



```
pandas```

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

Pandas gives you answers about the data. Like:

Is there a correlation between two or more columns?
What is average value?
Max value?
Min value?

In [10]:

import pandas as pd

#CSV file) into a DataFrame:

#df = pd.read_csv('data.csv')
#print(df.to_string()) 
#use to_string() to print the entire DataFrame.

In [22]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford","Ferrari",'Opel',""],
  'passings': [3, 7, 2,8,3,1]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

      cars  passings
0      BMW         3
1    Volvo         7
2     Ford         2
3  Ferrari         8
4     Opel         3
5                  1

In [13]:
#Pandas is usually imported under the pd alias.

In [23]:
#The version string is stored under __version__ attribute.


import pandas as pd

print(pd.__version__)

1.5.3

In [14]:
#Pandas use the loc attribute to return one or more specified row(s)
#refer to the row index:
print(myvar.loc[1])

cars        Volvo
passings        7
Name: 1, dtype: object

In [15]:
#use a list of indexes
print(myvar.loc[[2,1]])

    cars  passings
2   Ford         2
1  Volvo         7

Viewing the Data

Head :  method returns the headers and a specified number of rows, starting from the top.

In [16]:
myvar.head()

      cars  passings
0      BMW         3
1    Volvo         7
2     Ford         2
3  Ferrari         8
4     Opel         3

Tail:method returns the headers and a specified number of rows, starting from the bottom.

In [17]:
myvar.tail()

      cars  passings
1    Volvo         7
2     Ford         2
3  Ferrari         8
4     Opel         3
5                  1

Info : about of data

In [24]:
myvar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cars      6 non-null      object
 1   passings  6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells


Data in wrong format


Wrong data


Duplicates

dropna() method returns a new DataFrame, and will not change the original.

 the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame.

Replace empty values
 fillna() method allows us to replace empty cells with a value

Replace Using Mean, Median, or Mode
A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

In [ ]:
# x = df["columns name"].mean()

#df["columns name"].fillna(x, inplace = True)

Data of Wrong Format
Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format

if it was Data Frame wrong format in Date..



 the 'Date' column should be a string that represents a date: ****

In [ ]:
#Pandas has a to_datetime() method for this:
#df['Columns Date'] = pd.to_datetime(df['Columns Date'])

#print(df.to_string())

Remove Rows

The result from the converting in the example above gave us a NaT value, which can be handled as a NULL value, and we can remove the row by using the dropna() method.

In [ ]:
#df.dropna(subset=['Column Name '], inplace = True)

Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".

Sometimes you can spot wrong data by looking at the data set, because you have an expectation of what it should be.

One way to fix wrong values is to replace them with something else.

In [ ]:
# df.loc[num of row, 'coulmns name'] = new value

For small data sets you might be able to replace the wrong data one by one, but not for big data sets.

To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries

Example

In [ ]:
#for x in df.index:
  #if df.loc[x, "coulmns name"] > 120:
    #df.loc[x, "coulmns name"] = 120

Another way of handling wrong data is to remove the rows that contains wrong data.

This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses.

Example

In [ ]:
#for x in df.index:
  #if df.loc[x, "coulmns name"] > 120:
    #df.drop(x, inplace = True)

Dublicate

In [25]:
print(myvar.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

Removeing

In [26]:
myvar.drop_duplicates(inplace = True)

Finding Relationships
A great aspect of the Pandas module is the corr() method.

The corr() method calculates the relationship between each column in your data set

In [29]:
#myvar.corr()

Note: The corr() method ignores "not numeric" columns.

NumPy is a Python library.

NumPy is used for working with arrays.

NumPy is short for "Numerical Python".
It also has functions for working in domain of linear algebra, fourier transform, and matrices.

In [35]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

Reshaping arrays
Reshaping means changing the shape of an array.

The shape of an array is the number of elements in each dimension.

By reshaping we can add or remove dimensions or change number of elements in each dimension.

In [39]:
newarr = arr.reshape(2, 3, 2)

print(newarr)

[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]

API stands for application programming interface. In essence, an API acts as a communication layer, or as the name says, an interface, that allows different systems to talk to each other without having to understand exactly what each other does. APIs can come in many forms or shapes.